[submodule "NFD"]
	path = NFD
	url = https://github.com/qijianpeng/NFD
    branch = snakecomputing
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/qijianpeng/ndn-cxx
	branch = snakecomputing
